body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    margin: 0 auto;
    
}
a{
    text-decoration: none;
    color: white;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}
.quiz-container {
    margin-top: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-left: 500px;
    margin-right: 500px;
}
.question {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    color: #2c3e50;
}
.answer {
    margin-bottom: 10px;
    border-color: black;
    border: solid 1px;
    border-radius: 6px;

}
.answer input[type="radio"] {
    display: none;
}
.answer label {
    display: block;
    padding: 10px 15px;
   
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.answer label:hover {
    background-color: #d5dbdb;
}
/* .answer input[type="radio"]:checked + label {
    background-color: #3498db;
    color: white;
} */
.message {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
.message.correct {
    background-color: #2ecc71;
    color: white;
}
.message.incorrect {
    background-color: #e74c3c;
    color: white;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button[type="submit"]:hover {
    background-color: #3498db;
}

.dropdown-menu{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.redirect-button{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.correct {
    font-weight: bold;
    background-color: green !important;
}
.incorrect {
    font-weight: normal;
    background-color: red !important;
}