body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}
.quiz-container {
    margin-top: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-left: 500px;
    margin-right: 500px;
}
.quiz-container1 {
    
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    /* margin-left: auto;
    margin-right:auto; */
}
.quiz-container2 {
    display: flex;
    max-width: 900px;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    /* margin: 50px; */
    flex-wrap: wrap;
    /* margin-left: auto;
    margin-right:auto; */
}
.quiz-container3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    margin-top: 150px;
    margin-bottom: auto;
}
.quiz-container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.question {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    color: #2c3e50;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    width: 120px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    background-color: #3498dbc7;
}
    .answer {
    margin-bottom: 10px;
    border-color: black;
    border: solid 1px;
    border-radius: 6px;

}
.answer input[type="radio"] {
    display: none;
}
.answer label {
    display: block;
    padding: 10px 15px;
   
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.answer label:hover {
    background-color: #d5dbdb;
}
/* .answer input[type="radio"]:checked + label {
    background-color: #3498db;
    color: white;
} */
.message {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
.message.correct {
    background-color: #4CAF50;
    color: white;
}
.message.incorrect {
    background-color: #e74c3c;
    color: white;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button[type="submit"]:hover {
    background-color: #3498db;
}

/* .dropdown-menu{
    margin-top: 100px;
    display: flex;
    justify-content: center;
} */

.redirect-button{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.correct {
    font-weight: bold;
    background-color: #4CAF50 !important;
}
.incorrect {
    font-weight: normal;
    background-color: rgb(236, 27, 27) !important;
}

footer {
    flex-direction: row;
    flex: 1;
    position: absolute;
    bottom: 0;
    background-color: #2980b9;
    min-width: 100vw;
    min-height: 5vh;
    color: white; 

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container div {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.footer-container img {
    width: 30px;
    height: 30px;
    padding-right: 50px;
}

.dropdown-menu {
    margin-top: 50px;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    
    box-sizing: border-box;
}

.dropdown-menu select {
    width: 100%;
    max-width: 300px; 
    padding: 10px; 
    font-size: 24px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-bottom: 10px;
    box-sizing: border-box; 
    text-align: center;
}

/* Button stylen */
.dropdown-menu button {
    padding: 10px 20px;
    font-size: 24px;
    max-width: 300px;
    background-color: #4CAF50; 
    color: white; 
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* Button Hover-Effekt */
.dropdown-menu button:hover {
    background-color: #45a049;
}