@media screen and (max-width: 767px) {
.index-title{
display: none;
    }
    .index-label{
        text-align: center;
    }

}



html{
    height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    min-height: 100%;   
}

.main-content {
    flex: 1;
}

a{
    text-decoration: none;
    color: white;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}
/* 
.index-title{
    display: none;
        } */
.index-label{
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.index-label2{
    margin-top: 20px;
}
.quiz-container {
    margin: 200px auto 0;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    height: 500px; /* Fixed height */
    display: flex;
    flex-direction: column;
}
.quiz-container1 {
    
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    /* margin-left: auto;
    margin-right:auto; */
}
.quiz-container2 {
    display: flex;
    max-width: 900px;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;

    /* margin: 50px; */
    flex-wrap: wrap;
    /* margin-left: auto;
    margin-right:auto; */
}
.quiz-container3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    margin-top: 150px;
    margin-bottom: auto;
}
.quiz-container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.question {
    height: 150px; 
    overflow-y: auto; 
    
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    width: 120px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    background-color: #3498dbc7;
}
.answer-container {
    flex-grow: 1; /* Take up remaining space */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1fr; /* Two rows */
    gap: 10px; /* Space between grid items */
}

.question-title{
    text-align: center;
}

.answer {
    display: flex;
    text-align: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
}
.answer:hover{
    transform: scale(1.01);
}
.answer input[type="radio"] {
    display: none;
}
.answer label {
    
    font-weight: 500;
    flex-grow: 1;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.answer label:hover {
    background-color: #d5dbdbd7;
}
/* .answer input[type="radio"]:checked + label {
    background-color: #3498db;
    color: white;
} */
.message {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
.message.correct {
    background-color: #4CAF50;
    color: white;
}
.message.incorrect {
    background-color: #e74c3c;
    color: white;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button[type="submit"]:hover {
    background-color: #3498db;
}

/* .dropdown-menu{
    margin-top: 100px;
    display: flex;
    justify-content: center;
} */

.redirect-button{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.correct {
    font-weight: bold;
    background-color: #4CAF50 !important;
}
.incorrect {
    font-weight: normal;
    background-color: rgb(236, 27, 27) !important;
}


.footer-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap-reverse;
    background-color: #2980b9;
    min-width: 100vw;
    min-height: 5vh;
    color: white; 
}

.footer-container div {
    margin-left: 15px;
    margin-right: 15px;
    
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    min-width: 120px;
}

.footer-container img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    
}

.dropdown-menu {
    margin-top: 50px;
    flex:100%;
    flex:1;
    /* margin-bottom: 250px; */
    display: flex;
    justify-content: center;
    
    box-sizing: border-box;
}

.dropdown-menu select {
    width: 100%;
    max-width: 300px; 
    padding: 10px; 
    font-size: 24px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-bottom: 10px;
    box-sizing: border-box; 
    text-align: center;
}

/* Button stylen */
.dropdown-menu button {
    padding: 10px 20px;
    font-size: 24px;
    max-width: 300px;
    background-color: #4CAF50; 
    color: white; 
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* Button Hover-Effekt */
.dropdown-menu button:hover {
    background-color: #45a049;
}